{% extends 'base.html' %}
{% block title %}{{ form_title }}{% endblock %}

{% block contents %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow p-3 bg-white rounded">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    {% for field in reg_form %}
                        <lable for="{{ field.id_for_label }}">{{ field.label }}</lable>

                            {{ field }}

                        <p class="text-danger">{{ field.errors.as_text }}</p>
                    {% endfor %}
                    <span class="pull-left text-danger">{{ reg_form.non_field_errors }}</span>
                    <button id="submit" type="submit" class="btn btn-info btn-lg btn-block">注册</button>
                </form>
            </div>
        </div>
    </div>

     <script>
        var submit = new Vue({
          el: '#submit',
          data: {
            message: '注意信息的正确性哦~\n ' + new Date().toLocaleString()
          }
        })
    </script>

{% endblock contents %}