<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://matthew.wagerfield.com/parallax/assets/styles/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://matthew.wagerfield.com/parallax/assets/scripts/js/libraries.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.0/dist/echarts.min.js" integrity="sha256-l2MbFZa/DPaDeHSfMIRbcg5x1GwNX1LaeTEl93+r6VU=" crossorigin="anonymous"></script>
    <title>{% block title %}页面{% endblock %}</title>

    {% block styleExpands %}
        <style>
        </style>
    {% endblock %}


</head>

{% block bodyBG %}
<body>
{% endblock %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a  href="{% url 'home' %}">
            <img id="logoInBase" src="/media/logoGrayWithoutBg.png" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% block homeActive %}{% endblock %}" href="{% url 'home' %}">主页<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block TeaActive %}{% endblock %}" href="{% url 'uploadFile_result' %}">上传文件测试<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% block homeworkActive %}{% endblock %}" href="#">Action2<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action3</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">
                        --未添加任何信息--
                    </a>
                </div>
            </li>

            </ul>
            <ul class="nav navbar-nav">
            {% if not user.is_authenticated or not user %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">注册</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{% url 'docRegister' %}">医生注册</a>
                            <a class="dropdown-item" href="{% url 'register' %}?from={{ request.get_full_path }}">患者注册</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                    </li>

            {% else %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% block Active %}{% endblock %}


                            {% if user.is_staff %}
                            <a id="goToAdmin" class="dropdown-item" href="" >后台数据管理</a>
                                <script>
                                    const test_base = window.location.href;
                                    const e_base = test_base.split('/');
                                    const homeUrl = e_base[2];
                                    const item = 'http://'+homeUrl+'/admin';
                                    document.getElementById('goToAdmin').href = item;
                                </script>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'logout' %}">注销</a>

                        </div>
                  </li>
            {% endif %}

            </ul>
        {% csrf_token %}
{#            <form class="form-inline my-2 my-lg-0" action="#">#}
{#                <div class="form-group">#}
{#                    <input class="form-control mr-sm-2" type="text" name="wd" placeholder="不知道要不要" aria-label="Search">#}
{#                </div>#}
{#                <button class="btn btn-secondary my-2 my-sm-0" type="submit">搜索</button>#}
{##}
{#            </form>#}
        </div>
    </nav>
    {% block contents %}

    {% endblock %}

</body>

<style>
    .scene{position: absolute;
           z-index: -1}
    #logoInBase{width:100px; height:40px}
</style>


</html>