{% extends 'base.html' %}
{% block title %}主页{% endblock %}

{% block styleExpands %}
    .logo_media{text-align:center}
{% endblock %}


{% block contents %}
    <br><br><br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="logo_media">
                    <img src="/media/logo.jpg" />
                </div>

            </div>
            <div class="col-md-4"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div align="center">

                    <form action="{% url 'find_result' %}" method="POST" style="overflow:hidden">


                        {% csrf_token %}

                        {% for field in Search_Comment %}

                            {{ field }}

                        {% endfor %}


                        <br><br>
                        <div align="center">
                            <input type="submit" value="搜索" class="btn btn-primary" style="width:120px;height:50px">
                        </div>
                         {# <input type="text" class="form-control input-lg"><span class="input-group-addon btn btn-primary">搜索</span> #}
                    </form>


                </div>
                <br>
                <br>

                <div class="hot_search">

                    <div>热门搜索</div>   <!-- 字体设置 -->

                    <div class="row">

                        <div class="col-md-6">123222222222222222222222222222</div>
                        <div class="col-md-6">123222222222222222222222222222</div>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}

div.input-group{
    white-space:nowrap;
}





