{% extends 'base.html' %}
{% block title %}主页{% endblock %}

{% block styleExpands %}
    <style>
        .logo_media{text-align:center}
    </style>

{% endblock %}


{% block contents %}
    <ul id="scene" class="scene " data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
        <li class="layer" data-depth="0.00"></li>
        <li class="layer" data-depth="0.10">
            <div class="background"></div>
        </li>
        <li class="layer" data-depth="0.10">
            <div class="light orange b phase-4"></div>
        </li>
        <li class="layer" data-depth="0.10">
            <div class="light purple c phase-5"></div>
        </li>
        <li class="layer" data-depth="0.10">
            <div class="light orange d phase-3"></div>
        </li>
        <li class="layer" data-depth="0.15">
            <ul class="rope depth-10">
                <li><img src="#" alt="Rope"></li>
                <li class="hanger position-2">
                    <div class="board cloud-2 swing-1"></div>
                </li>
                <li class="hanger position-4">
                    <div class="board cloud-1 swing-3"></div>
                </li>
                <li class="hanger position-8">
                    <div class="board birds swing-5"></div>
                </li>
            </ul>
        </li>
        <li class="layer" data-depth="0.20"></li>
        <li class="layer" data-depth="0.30">
            <ul class="rope depth-30">
                <li><img src="#" alt="Rope"></li>
                <li class="hanger position-1">
                    <div class="board cloud-1 swing-3"></div>
                </li>
                <li class="hanger position-5">
                    <div class="board cloud-4 swing-1"></div>
                </li>
            </ul>
        </li>
        <li class="layer" data-depth="0.30">
            <div class="wave paint depth-30"></div>
        </li>
        <li class="layer" data-depth="0.40">
            <div class="wave plain depth-40"></div>
        </li>
        <li class="layer" data-depth="0.50">
            <div class="wave paint depth-50"></div>
        </li>
        <li class="layer" data-depth="0.60">
            <div class="lighthouse depth-60"></div>
        </li>
        <li class="layer" data-depth="0.60">
            <ul class="rope depth-60">
                <li><img src="#" alt="Rope"></li>
                <li class="hanger position-3">
                    <div class="board birds swing-5"></div>
                </li>
                <li class="hanger position-6">
                    <div class="board cloud-2 swing-2"></div>
                </li>
                <li class="hanger position-8">
                    <div class="board cloud-3 swing-4"></div>
                </li>
            </ul>
        </li>
        <li class="layer" data-depth="0.60">
            <div class="wave plain depth-60"></div>
        </li>
        <li class="layer" data-depth="0.80">
            <div class="wave plain depth-80"></div>
        </li>
        <li class="layer" data-depth="0.90">
            <div class="wave paint depth-100"></div></li>


    </ul>

    <br><br><br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="logo_media">
                    <img src="/media/logoDistWithoutBg.png" />
                </div>

            </div>
            <div class="col-md-4"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div align="center">

                    <form action="{% url 'find_result' %}" method="POST" style="overflow:hidden">


                        {% csrf_token %}

                        {% for field in Search_Comment %}

                            {{ field }}

                        {% endfor %}


                        <br><br>
                        <div align="center">
                            <input type="submit" value="搜索" class="btn btn-primary" style="width:120px;height:50px">
                        </div>
                         {# <input type="text" class="form-control input-lg"><span class="input-group-addon btn btn-primary">搜索</span> #}
                    </form>


                </div>
                <br>
                <br>

                <div class="hot_search">

                    <div>热门搜索</div>   <!-- 字体设置 -->

                    <div class="row">

                        <div class="col-md-6">123222222222222222222222222222</div>
                        <div class="col-md-6">123222222222222222222222222222</div>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>

    <script>
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene);
    </script>



    <script>

        {% for msg in messages %}
            alert('{{ msg.message }}');
            {#window.location.replace("{% url 'uploadFile' %}");#}
        {% endfor %}
        if('{{ massage }}'){
            window.location.replace("{% url 'home' %}");
        }
        if('{{ question }}'){
            console.log('{{ question }}');
        }

    </script>
{% endblock %}

div.input-group{
    white-space:nowrap;
}







