{% extends 'base.html' %}
{% block title %}上传文件测试{% endblock %}

{% block styleExpands %}

{% endblock %}


{% block contents %}
    <br><br><br>
{#    <form action="{% url 'uploadFile' %}" method="POST">#}
{#        <div class="form-group">#}
{#            <label for="exampleFormControlFile1">Example file input</label>#}
{#            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="excelFile">#}
{#        </div>#}
{#    </form>#}


    <form action="{% url 'uploadFile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputFile">上传(excel)数据文件</label>
            <input type="file" name="file">
            <br>
            <input type="submit" value="上传" class="btn btn-info">
        </div>
    </form>

        <script>
          {% for msg in messages %}
              alert('{{ msg.message }}');
              window.location.replace("{% url 'uploadFile' %}");
          {% endfor %}
        </script>


{% endblock %}