{% extends 'base.html' %}
{% block title %}信息上传{% endblock %}

{% block styleExpands %}
    <style>
        body {

          background-image: url("/media/fileUploadbg.jpeg");

          background-position: center 0;

          background-repeat: no-repeat;

          background-attachment: fixed;

          background-size: cover;

          -webkit-background-size: cover;

          -o-background-size: cover;

          -moz-background-size: cover;

        }





    </style>
{% endblock %}



{% block contents %}
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-8 mx-auto shadow p-4 bg-white rounded">
                    <img id="logoInLogin" src="/media/logoGray.png" />
                    <br>

                    <form action="{% url 'describe' %}" method="POST">
                        {% csrf_token %}
                        {% for field in describe_form %}
                            <lable for="{{ field.id_for_label }}">{{ field.label }}</lable>

                               <div class="input-group">
                                  <div class="input-group-prepend">
                                        <div class="col-md-12">
                                            {{ field }}
                                        </div>

                                  </div>
                               </div>
                            <p class="text-danger">{{ field.errors.as_text }}</p>
                        {% endfor %}
                        <span class="pull-left text-danger">{{ describe_form.non_field_errors }}</span>
    {#                    <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#myModal">登录</button>#}


{#                            <button type="submit" class="btn btn-info btn-lg btn-block" onclick="showReDict()">提交描述</button>#}



                    </form>
                </div>

            </div>
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'uploadFile_t_result' %}" class="list-group-item list-group-item-action list-group-item-success">上传t_result数据</a>
                    <a href="{% url 'uploadFile_t_department' %}" class="list-group-item list-group-item-action list-group-item-primary">上传department数据文件</a>
                    <a href="{% url 'uploadFile_t_patient' %}" class="list-group-item list-group-item-action list-group-item-secondary">上传patient数据文件</a>
                    <a href="{% url 'uploadFile_t_treatment' %}" class="list-group-item list-group-item-action list-group-item-warning">上传treatment数据文件</a>
                    <a href="{% url 'uploadFile_t_illness' %}" class="list-group-item list-group-item-action list-group-item-info">上传illness数据文件</a>

                </div>

                <img src="/media/ZNSH.jpg" alt="智能手环">

                <!--<div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                    <form action="{% url 'uploadFile_result' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">

                            <input type="file" name="file" >
                            <br>
                            <input type="submit" value="上传t_result数据" class="btn btn-success btn-block">
                        </div>
                    </form>
                  </a>
                    <br>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
                      <form action="{% url 'uploadFile_department' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">

                            <input type="file" name="file">
                            <br>
                            <input type="submit" value="上传department数据文件" class="btn btn-primary btn-block">
                        </div>
                      </form>
                  </a>
                    <br>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                      <form action="{% url 'uploadFile_patient' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">

                            <input type="file" name="file">
                            <br>
                            <input type="submit" value="上传patient数据文件" class="btn btn-secondary btn-block">
                        </div>
                      </form>
                  </a>
                    <br>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">
                      <form action="{% url 'uploadFile_treatment' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">

                            <input type="file" name="file">
                            <br>
                            <input type="submit" value="上传treatment数据文件" class="btn btn-warning btn-block">
                        </div>
                      </form>

                  </a>
                    <br>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                      <form action="{% url 'uploadFile_illness' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">

                            <input type="file" name="file">
                            <br>
                            <input type="submit" value="上传illness数据文件" class="btn btn-info btn-block">
                        </div>
                      </form>
                  </a>
                </div>-->
            </div>





        </div>
    </div>


{#    <div class="container">#}
{#        <div class="row">#}
{#            <div id="formDiv" class="col-md-4">#}
{#                <br><br><br>#}
{#                <form action="{% url 'uploadFile_result' %}" method="post" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <label for="exampleInputFile">上传t_result数据文件</label>#}
{#                        <input type="file" name="file" >#}
{#                        <br>#}
{#                        <input type="submit" value="上传" class="btn btn-info">#}
{#                    </div>#}
{#                </form>#}
{#                <br><br>#}
{#            </div>#}
{#            <div class="col-md-4"></div>#}
{#            <div id="formDiv" class="col-md-4">#}
{#                <br><br><br>#}
{#                <form action="{% url 'uploadFile_patient' %}" method="post" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <label for="exampleInputFile">上传patient数据文件</label>#}
{#                        <input type="file" name="file">#}
{#                        <br>#}
{#                        <input type="submit" value="上传" class="btn btn-info">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div class="col-md-4"></div>#}
{#            <div id="formDivs" class="col-md-4">#}
{#                <br><br><br><br>#}
{#                <form action="{% url 'uploadFile_department' %}" method="post" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <label for="exampleInputFile">上传department数据文件</label>#}
{#                        <input type="file" name="file">#}
{#                        <br>#}
{#                        <input type="submit" value="上传" class="btn btn-info">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#            <div class="col-md-4"></div>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div id="formDiv" class="col-md-4">#}
{#                <br><br><br>#}
{#                <form action="{% url 'uploadFile_treatment' %}" method="post" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <label for="exampleInputFile">上传treatment数据文件</label>#}
{#                        <input type="file" name="file">#}
{#                        <br>#}
{#                        <input type="submit" value="上传" class="btn btn-info">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#            <div class="col-md-4"></div>#}
{##}
{#            <div id="formDiv" class="col-md-4">#}
{#                <br><br><br>#}
{#                <form action="{% url 'uploadFile_illness' %}" method="post" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <label for="exampleInputFile">上传illness数据文件</label><br>#}
{#                        <input type="file" name="file">#}
{#                        <br>#}
{#                        <input type="submit" value="上传" class="btn btn-info">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}













        <script>
            console.log("{{ columnList|safe }}");
            console.log("{{ real_column|safe }}");
            console.log('{{ real_column_index }}');
          {% for msg in messages %}
              var s = '';
              var f = '';
              s += '{{ describeInfo }}' + '\n';
              {% for key, value in infoDict.items %}
                f += '{{key}}' + ":{{ value|safe }}\n";
                  console.log('{{ key }}' + ":{{ value|safe }}");
              {% endfor %}

              document.getElementById('id_describeText').value=s;
              document.getElementById('id_describeFormat').value=f;
              alert('{{ msg.message }}');
              {#window.location.replace("{% url 'uploadFile' %}");#}
          {% endfor %}

        </script>



{% endblock %}